<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <script type="text/javascript">window._epn = {campaign:5338177835};</script><script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
  </head>
  <body>
    <div id="searches">
      <ul>
          <li><a href="/search/drones/1">Drones</a></li>
          <li><a href="/search/battery/1">Battery</a></li>
          <li><a href="/search/propeller/1">Propellers</a></li>
          <li><a href="/search/{{ "DJI Mavic Pro" | urlencode }}/1">DJI Mavic Pro</a></li>
          <li><a href="/search/{{ "DJI Spark" | urlencode }}/1">DJI Spark</a></li>
          <li><a href="/search/{{ "Syma" | urlencode }}/1">Syma</a></li>
      </ul>

      <ul>
        <li><a href="/search/DJI/1">DJI</a></li>
        <li><a href="/search/Parrot/1">Parrot</a></li>
        <li><a href="/search/{{ "3d Robotics" | urlencode }}/1">3d Robotics</a></li>
        <li><a href="/search/GoPro/1">GoPro</a></li>
        <li><a href="/search/Hubsan/1">Hubsan</a></li>
      </ul>

      <form onsubmit="window.location = '/search/' + search.value+ '/1'; return false;">
        <input type="text"  style="width: 200px; height: 25px" name="search"/>
        <input type="submit" value="SEARCH"/>
      </form>
    </div>
    <div id="paginator">
      <ul>
        {% if current_page > 1 %}
        <li><a href="/{{ "category" if not query else "search" }}/{{ category if not query else query }}/{{ current_page -1 }}">&laquo;</a></li>
        {% endif %}

        {%  for page in pages %}
        <li><a href="/{{ "category" if not query else "search" }}/{{ category if not query else query }}/{{ page }}" {% if current_page == page%}class="current" {% endif %}>{{ page }}</a></li>
        {% endfor %}

        {% if current_page < total_pages %}
        <li><a href="/{{ "category" if not query else "search" }}/{{ category if not query else query }}/{{ current_page +1 }}">&raquo;</a></li>
        {% endif %}
      </ul>
    </div>
    <div id="auction-list">
      <div>
        {% for item in items.searchResult.item %}
        <div>
          <h1>
            <a target="_blank" href="{{ item.viewItemURL |e}}">
              {{ item.title|e }}
              <img src="{{ item.pictureURLLarge | replace("http://","https://") if item.pictureURLLarge else item.galleryURL | replace("http://","https://") }}" alt="{{item.title}}"/>
            </a>
          </h1>
          <div class="price_tag">
            <a target="_blank" href="{{ item.viewItemURL |e}}">
              <span>
                {{item.sellingStatus.currentPrice.value}} {{item.sellingStatus.currentPrice._currencyId}}
              </span>
            </a>
          </div>
        </div>
        {% if loop.index % in_rows == 0 and loop.index != loop.length %}
      </div>
      <div>
        {% endif %}
        {% else %}
        <h1> no items found</h1>
        {% endfor %}
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-106144387-1', 'auto');
      ga('send', 'pageview');

      </script>
  </body>
</html>
